@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{

    Layout = "~/Views/Shared/_CustomerLayout.cshtml";}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">About Us</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="#">About</a></li>
    </ol>
</div>
<!-- Single Page Header End -->
<div class="container-fluid py-5 ">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 ">About Us</h4>
                
                <div class="position-relative mx-auto">
                    Welcome to DelightFood, where we are passionate about delivering <br /> not just food, but delightful experiences to your doorstep.Born <br /> out of a love for good food and convenience, Delightfood <br />was founded with a simple mission: to revolutionize the way people <br />enjoy their favorite meals. Our journey began in Feb 2024 with a <br />humblevision to bridge the gap between exceptional cuisine and busy lifestyles.</p>
                    
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                
                <img src="~/img/chines.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
            </div>
        </div>
    </div>
</div>
@* <div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-2">
            <div class="col-md-6 col-lg-6">
                <div class="featurs-item text-center rounded bg-light p-4">
                    
                    <div class="featurs-content text-center">
                        <h5>Our Mission</h5>
                        <p class="mb-0">At Delightfood we strive to connect food lovers with the finest culinary delights from the comfort of their homes. Our mission is to create  enjoyable dining experience, one delivery at a time.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="featurs-item text-center rounded bg-light p-4">
                    
                    <div class="featurs-content text-center">
                        <h5>Our Commitment to Quality</h5>
                        <p class="mb-0">Quality is non-negotiable at Delightfood. From the ingredients in your meal to the service at your doorstep, we uphold the highest standards to guarantee a delightful dining experience.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>  *@
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-2">
            <div class="col-md-6 col-lg-6">
                <div class="featurs-item text-center rounded bg-light p-4">

                    <div class="featurs-content text-center">
                        <h5>Our Mission</h5>
                        <p class="mb-0">At Delightfood we strive to connect food lovers with the finest culinary delights from the comfort of their homes. Our mission is to create  enjoyable dining experience, one delivery at a time.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="featurs-item text-center rounded bg-light p-4">

                    <div class="featurs-content text-center">
                        <h5>Our Commitment to Quality</h5>
                        <p class="mb-0">Quality is non-negotiable at Delightfood. From the ingredients in your meal to the service at your doorstep, we uphold the highest standards to guarantee a delightful dining experience.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Reliable Delivery</h5>
                        <p class="mb-0">With a focus on timeliness and professionalism, our delivery team ensures your order arrives piping hot</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Exceptional Service</h5>
                        <p class="mb-0">From user-friendly ordering to attentive support,Customer satisfaction is at the heart of everything we do</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Community Engagement</h5>
                        <p class="mb-0">Through partnerships and initiatives,We believe in giving back to the communities we serve</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

