@model DelightFoods_Live.Models.DTO.CategoryModelDTO

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create Sub-Category";
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
<main id="main" class="main">

    <div class="pagetitle">
        <div>
            <a asp-action="ChildCategoryList" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
        </div>
        <h1>Sub Categories</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Dashboard">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="ChildCategoryList">Sub Category</a></li>
                <li class="breadcrumb-item">Create</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enter Sub Category Information</h5>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="CreateSubCategory" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ParentCategoryId" class="form-label">Parent Category </label>
                                            <select asp-for="ParentCategoryId" asp-items="@Model.ParentCategoryList" class="form-select" aria-required="true" required>
                                                <option disabled selected>Select Parent Category</option>
                                            </select>
                                            <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                                        </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                       
                                            <div class="form-group">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>

                                    </div>

                                </form>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
