@model DelightFoods_Live.Models.DTO.CategoryModelDTO

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create Category";
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<main id="main" class="main">

    <div class="pagetitle">
        <div>
            <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
        </div>
        <h1>Category</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="Index">Category</a></li>
                <li class="breadcrumb-item">Create</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <hr />
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enter Category Information</h5>

                        
                        <hr />
                        <div class="row">
                            <div class="col-md-12">

                                <form asp-action="Create" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                   @*  <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <label class="form-check-label" asp-for="UploadedFiles">Attachments</label>
                                                    <input asp-for="UploadedFiles" multiple class="form-control" />
                                                    <span asp-validation-for="UploadedFiles" class="text-danger"></span>
                                                    <div class="invalid-feedback">
                                                        Please upload your attachments.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

 *@
                                 <br/>
                                    <div class="form-group ">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
@*
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@