@model DelightFoods_Live.Models.DTO.CategoryModelDTO

@{
    ViewData["Title"] = "Create";
}
<!-- Favicons -->
<link href="/Public/img/favicon.png" rel="icon">
<link href="/Public/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/Public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/Public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/Public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/Public/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/Public/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/Public/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/Public/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/Public/css/style.css" rel="stylesheet">


<h1>Create</h1>

<h4>CategoryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" asp-for="UploadedFiles">Attachments</label>
                    <input asp-for="UploadedFiles" multiple />
                    <span asp-validation-for="UploadedFiles" class="text-danger"></span>
                    <div class="invalid-feedback">
                        Please upload your attachments.
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span> Delight-Foods</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://Delight-Foods.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://Delight-Foods.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://Delight-Foods.com/">Delight-Foods</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/Public/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/Public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Public/vendor/chart.js/chart.umd.js"></script>
<script src="/Public/vendor/echarts/echarts.min.js"></script>
<script src="/Public/vendor/quill/quill.min.js"></script>
<script src="/Public/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/Public/vendor/tinymce/tinymce.min.js"></script>
<script src="/Public/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/Public/js/main.js"></script>