@model DelightFoods_Live.Models.DTO.CategoryModelDTO


@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Edit";
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<main id="main" class="main">
	
	<div class="pagetitle">
		<h1>Categories</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a asp-action="Index">Category List</a></li>
				<li class="breadcrumb-item">Edit</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->
	<div class="row">
		<div class="col-md-4">

			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description" class="control-label"></label>
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="ParentCategoryId" class="form-label">Child Categories </label>
					<select asp-for="ParentCategoryId" asp-items="@Model.ChildCategoryList" class="form-select" aria-required="true" required>
						<option disabled selected>Select Parent Category</option>
					</select>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<strong>Documents</strong>
					</div>
					<div class="col-sm-8">
						@if (Model.MediaFileList != null && Model.MediaFileList.Any())
						{
							foreach (var item in Model.MediaFileList)
							{
								<img src="@item.FilePath" alt="Image" width="300" height="300">
								<a href="@Url.Action("DownloadFile", "Home", new { fileName = item.FileName, FileId = item.FileId, CatetoryId = Model.Id })">Download File</a>
							}
						}
						else
						{
							<span>No file available for download</span>
						}
					</div>
				</div>

				<div class="form-group d-grid">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index" class="btn btn-primary">Back to List</a>
	</div>
</main>

@*
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
 *@


