@model DelightFoods_Live.Models.DTO.ProductDTO
@using Microsoft.AspNetCore.Identity

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Edit";
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}


<main id="main" class="main">
	<div class="pagetitle">
		<div>
			<a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
		</div>
		<h1>Products</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a asp-action="Index">Product  List</a></li>
				<li class="breadcrumb-item">Edit</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->
	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">

						<div class="col-lg-12 row ">

							<div class="col-lg-6 ">
								<h5 class="card-title">Product Information</h5>
							</div>
							<div class="col-lg-6 text-end ">
								<div style=" padding:25px;">
									<form asp-action="Delete">
										<input type="hidden" asp-for="Id" />
										<input type="submit" value="Delete" class="btn btn-danger" />
									</form>
								</div>
							</div>

						</div>

						<hr />
						<div class="row">
							<div class="col-md-12">
								<form asp-action="Edit" enctype="multipart/form-data">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="Id" />
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="Name" class="control-label"></label>
												<input asp-for="Name" class="form-control" />
												<span asp-validation-for="Name" class="text-danger"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="Description" class="control-label"></label>
												<input asp-for="Description" class="form-control" />
												<span asp-validation-for="Description" class="text-danger"></span>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="CategoryId" class="control-label">Category</label>
												<select asp-for="CategoryId" class="form-control" asp-items="@Model.categoryList"></select>
												<span asp-validation-for="CategoryId" class="text-danger"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="Stock" class="control-label"></label>
												<input asp-for="Stock" class="form-control" />
												<span asp-validation-for="Stock" class="text-danger"></span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label asp-for="Price" class="control-label"></label>
												<input asp-for="Price" type="number" min="1" max="50000" class="form-control" />
												<span asp-validation-for="Price" class="text-danger"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<div class="form-group">
													<label class="form-check-label" asp-for="UploadedFiles">Attachments</label>
													<input asp-for="UploadedFiles" class="form-control" id="fileInput" data-val="false" />
													@* <span asp-validation-for="UploadedFiles" class="text-danger"></span> *@
													<div class="invalid-feedback">
														Please upload your attachments.
													</div>
													<div class="invalid-upload">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-2">
											<strong>Documents</strong>
										</div>
										<div class="col-sm-3">
											@if (Model.MediaFileList != null && Model.MediaFileList.Any())
											{
												foreach (var item in Model.MediaFileList)
												{
													<img src="@item.FilePath" class="img-fluid rounded-top" style="height:70px; width:auto;" alt="">
												}
											}
										</div>
										<div class="col-sm-2">
											@if (Model.MediaFileList != null && Model.MediaFileList.Any())
											{
												foreach (var item in Model.MediaFileList)
												{
													<a href="@Url.Action("DownloadFile", "Home", new { fileName = item.FileName, FileId = item.FileId, productId = Model.Id })">Download File</a>
												}
											}
											else
											{
												<span>No file available for download</span>
											}
										</div>
									</div>
									<div class="form-group col-sm-2">
										<input id="saveButton" type="submit" value="Save" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</main>
<script src="/js/validateImageFile.js"></script>

@* @section Scripts {
    <script>
		document.addEventListener('DOMContentLoaded', function () {
          validateImageFile('fileInput', 'saveButton');

        });
    </script>
} *@