@model DelightFoods_Live.Models.SaleOrderModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SaleOrderModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductIds" class="control-label"></label>
                <input asp-for="ProductIds" class="form-control" />
                <span asp-validation-for="ProductIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingId" class="control-label"></label>
                <input asp-for="ShippingId" class="form-control" />
                <span asp-validation-for="ShippingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOnUTC" class="control-label"></label>
                <input asp-for="CreatedOnUTC" class="form-control" />
                <span asp-validation-for="CreatedOnUTC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
