@page
@model LoginModel
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/css/registration.css" rel="stylesheet">
    <style>
        a{
            text-decoration:none;
            color: #0aac5e;
        }
        .btn {
            margin: 0 auto;
            display: block;
            font-family: inherit;
            width: 500px;
        }

        .wrapper {
            width: 1000px;
        }

        h1 {
            text-align: center;
            margin: 70px auto 10px auto;
            color: #05bf69;
        }

        section {
            width: 500px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 6px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

            section h2 {
                color: #333;
                text-align: center;
                margin-bottom: 20px;
            }

            section hr {
                margin-bottom: 20px;
            }

            section .form-floating {
                margin-bottom: 15px;
            }

            section .checkbox {
                margin-bottom: 15px;
            }

            section .form-check-input {
                margin-right: 5px;
            }

            section .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
            }

                section .btn-primary:hover {
                    background-color: #0056b3;
                    border-color: #0056b3;
                }

            section .text {
                align-items: center;
                margin-top: 10px;
            }

                section .text a {
                    color: #007bff;
                    text-decoration: none;
                }

                    section .text a:hover {
                        text-decoration: underline;
                    }
    </style>
</head>
<body>
    <h1>Delight Foods</h1>

    <div class="wrapper">
        <h2>Login</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success" >Log in</button>
            </div>
            <div class="text">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./register" asp-route-returnUrl="@Model.ReturnUrl">login as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
