@page
@model RegisterModel
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="~/css/registration.css" rel="stylesheet">
    <style>
        .btn {
            margin: 0 auto;
            display: block;
            font-family: inherit;
            width: 500px;
        }

        .wrapper {
            width: 1000px;
        }
        h1{
            text-align:center;
            margin: 70px auto 10px auto;
            color: #05bf69;
        }
    </style>
</head>
<body>
    <h1>Delight Full Foods</h1>

    <div class="wrapper">
        <h2>Registration</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="First Name" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Last Name" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>   
            <div class="form-floating mb-3">
                <input asp-for="Input.Mobile" class="form-control" aria-required="true" placeholder="Mobile" />
                <label asp-for="Input.Mobile">Mobile</label>
                <span asp-validation-for="Input.Mobile" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            
            <div class="col-12">
                <label asp-for="Input.CityId" class="form-label">City</label>
                <select asp-for="Input.CityId" asp-items="@Model.Input.CityList" class="form-select" aria-required="true">
                    <option disabled selected>Select City</option>
                </select>
                <span asp-validation-for="Input.CityId" class="text-danger"></span>
            </div>

@*             <div class="form-floating mb-3">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select" aria-required="true">
                    <option disabled selected>Select Role</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div> *@
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="termsCheckbox" required>
                <label class="form-check-label" for="termsCheckbox">I accept all terms & condition</label>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-lg btn-success">Register Now</button>
            <div class="text">
                <h3>Already have an account? <a id="login" asp-area="Identity" asp-page="/Account/Login">Login now</a></h3>
            </div>
        </form>
    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



<script>


    $(document).ready(function () {
        $('#registerSubmit').prop('disabled', true);
    });


    $('#activebtn').on('click', function () {


    });

    var isClientCheckbox = document.getElementById('termsCheckbox');

    isClientCheckbox.addEventListener('change', function () {
        if (this.checked) {
            $('#registerSubmit').prop('disabled', false);
        } else {
             $('#registerSubmit').prop('disabled', true);
        }

    });


</script>

